div.modal-board
    div.modal-header
        h1=`${log.date}`

    hr

    div.modal-body
        form(
        )
            textarea(
                name="log" 
                maxlength="300"
                rows="5"
                placeholder=`${log.log}`
            )
            br

            button(
                type="submit"
                hx-put=`/logs/${log.logID}` 
                hx-target=`#${log.logID}`
                hx-swap="outerHTML"
                hx-trigger="click"
                hx-on::after-request="document.getElementById('modal-placeholder').style.display='none'"
            ) Submit

            button(
                type="button"
                hx-get="/"
                hx-on::before-request="document.getElementById('modal-placeholder').style.display='none'"
            ) Cancel

            button(
                type="button"
                hx-delete=`/logs/${log.logID}`
                hx-target=`#${log.logID}`
                hx-swap="delete"
                hx-trigger="click"
                hx-on::before-request="document.getElementById('modal-placeholder').style.display='none'"
            ) Delete

    div.modal-footer
