div.modal-board
    div.modal-header
        h1 EDIT PROJECT:

    hr

    div.modal-body
        form
            label Project name:
            input.text(
                type="text"
                name="project"
                maxlength="30"
                placeholder=`${project.project}`
            )

            label Deadline:
            input.date(
                type="date"
                name="deadline"
            )

            label Comments:
            textarea(
                name="comments"
                maxlength="150"
                placeholder=`${project.comments}`
            )

            button(
                type="submit"
                hx-put=`/projects/${project.projectID}`
                hx-target=`#${project.projectID}`
                hx-swap="outerHTML"
                hx-trigger="click"
                hx-on::after-request="document.getElementById('modal-placeholder').style.display='none'"
            ) Submit

            button(
                type="button"
                hx-get="/"
                hx-on::after-request="document.getElementById('modal-placeholder').style.display='none'"
            ) Cancel

            button(
                type="button"
                hx-delete=`/projects/${project.projectID}`
                hx-target=`#${project.projectID}`
                hx-swap="delete"
                hx-trigger="click"
                hx-on::before-request="document.getElementById('modal-placeholder').style.display='none'"
            ) Delete

    div.modal-footer
