div.navbar
    div.navbarItem(
        hx-get="/"
        hx-target="body"
        hx-swap="innerHTML"
        hx-trigger="click"
    )
        h2 Tasks

    div.navbarItem(
        hx-get="/navbar-logs"
        hx-target="body"
        hx-swap="innerHTML"
        hx-trigger="click"
    )
        h2 Logs

    div.navbarItem(
        hx-get="/navbar-projects"
        hx-target="body"
        hx-swap="innerHTML"
        hx-trigger="click"
    )
        h2 Projects

    div.navbarItem(
        hx-get="/navbar-status"
        hx-target="body"
        hx-swap="innerHTML"
        hx-trigger="click"
    )
        h2 Status

    div.navbarItem(
        hx-get="/navbar-info"
        hx-target="body"
        hx-swap="innerHTML"
        hx-trigger="click"
    )
        h2 Info

div.spacer


