div.icon
    svg(
        xmlns="http://www.w3.org/2000/svg" 
        enable-background="new 0 0 24 24"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#32cd32"
    )
        path(
            d="M251.109-204.282-1.196-456.587l80.544-79.022L252.87-362.326l79.021 79.022-80.782 79.022Zm258.261-7.653L256.348-463.957l79.5-80.543L509.37-371.978l374.326-374.326L961.435-664 509.37-211.935ZM494-492.696l-80.544-79.021 172.305-172.305L666.304-665 494-492.696Z"
        )
