div.icon
    svg(
        xmlns="http://www.w3.org/2000/svg" 
        enable-background="new 0 0 24 24"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#32cd32"
    )
        path(
            d="M382-213.696 125.935-469.761l80.261-80.261L382-373.978l373.565-373.566 80.261 80.022L382-213.696Z"
        )
        
