doctype html
html(lang="en-US")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width")
        link(rel="icon" href="data:,")
        link(rel="stylesheet" href="./../../model-style.css" type="text/css")
        link(href="https://fonts.googleapis.com/css?family=Aldrich" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet")
        title bundinha
        script(src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous")
    body
        div.navbar
            div.navbarItem
                h2 Tasks
            div.navbarItem(
                hx-get="/navbar-logs"
                hx-target="body"
                hx-swap="innerHTML"
                hx-trigger="click"
            )
                h2 Logs
            div.navbarItem
                h2 Projects
            div.navbarItem
                h2 Status
            div.navbarItem
                h2 Info

        div.spacer

        div.board(
            hx-get="/header-date"
            hx-target="this"
            hx-swap="innerHTML"
            hx-trigger="load"
        )

        div.parent-board
            dic.child-board
                include includes/main-pendencies.pug

            div.child-board
                div.board
                    h2 Chores
                    hr
                    br

                    div.chores#list-chores(
                        hx-get="/chores"
                        hx-target="this"
                        hx-swap="innerHTML"
                        hx-trigger="load"
                    )

                    button(
                        hx-get="/chores/new"
                        hx-target="#modal-placeholder"
                        hx-swap="innerHTML"
                        hx-trigger="click"
                        hx-on::after-request="document.getElementById('modal-placeholder').style.display='block'"
                    ) Add Chore

                div.board
                    h2 Projects
                    hr
                    br

                    div.projects#list-projects(
                        hx-get="/projects"
                        hx-target="this"
                        hx-swap="innerHTML"
                        hx-trigger="load"
                    )

                    button(
                        hx-get="/projects/new"
                        hx-target="#modal-placeholder"
                        hx-swap="innerHTML"
                        hx-trigger="click"
                        hx-on::after-request="document.getElementById('modal-placeholder').style.display='block'"
                    ) Add Project

        div.board
            h2 Logs
            hr
            br

            div.logs#list-logs(
                hx-get="/logs"
                hx-target="this"
                hx-swap="innerHTML"
                hx-trigger="load"
            )

            button(
                hx-get="/logs/new"
                hx-target="#modal-placeholder"
                hx-swap="innerHTML"
                hx-trigger="click"
                hx-on::after-request="document.getElementById('modal-placeholder').style.display='block'"
            ) Add Log

        div.modal#modal-placeholder
