div.modal-board
    h1=`${log.date}`
    hr
    br

    form(
    )
        input(
            type="text" 
            name="log" 
            placeholder=`${log.log}`
        )
        br
        br

        button(
            type="submit"
            hx-put=`/logs/${log.logID}` 
            hx-target=`#${log.logID}`
            hx-swap="outerHTML"
            hx-trigger="click"
            hx-on::after-request="document.getElementById('modal-placeholder').style.display='none'"
        ) Submit

        button(
            type="button"
            hx-get="/"
            hx-on::before-request="document.getElementById('modal-placeholder').style.display='none'"
        ) Cancel

        button(
            type="button"
            hx-delete=`/logs/${log.logID}`
            hx-target=`#${log.logID}`
            hx-swap="delete"
            hx-trigger="click"
            hx-on::before-request="document.getElementById('modal-placeholder').style.display='none'"
        ) Delete
